<div id="<%= dom_id grade %>" class="d-flex justify-content-between gap-4">
  <p>
    <strong>Teacher:</strong>
    <% if grade.teacher.present? %>
      <%= link_to grade.teacher.firstname, grade.teacher %>
    <% else %>
      <%= link_to "Edit", edit_grade_path(grade) %>
    <% end %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= grade.student_id %>
    <%= link_to grade.student.firstname, grade.student %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= grade.score %>
  </p>

</div>
