<div id="<%= dom_id grade %>">
  <p>
    <strong>Teacher:</strong>
    <%= grade.teacher_id %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= grade.student_id %>
    <%= link_to grade.student.name, grade.student %> 
  </p>

  <p>
    <strong>Score:</strong>
    <%= grade.score %>
  </p>

</div>
