<div id="<%= dom_id grade %>" class="d-flex justify-content-between gap-4">
  <p>
    <strong>Teacher:</strong>
    <%= link_to grade.teacher.name, grade.teacher %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= grade.student_id %>
    <%= link_to grade.student.name, grade.student %> 
  </p>

  <p>
    <strong>Score:</strong>
    <%= grade.score %>
  </p>

</div>
