<div class="container">
  <p style="color: green"><%= notice %></p>
  <div class="container d-flex justify-content-between align-items-center">
    <h1>Grades</h1>
    <%= link_to "New grade", new_grade_path, class: "btn btn-outline-secondary" %>
  </div>
  <div id="grades">
    <% @grades.each do |grade| %>
      <div class="container grade d-flex flex-direction-column gap-4 rounded my-2 pt-2">
        
        <p>
          <strong>Teacher:</strong>
          <% if grade.teacher.present? %>
            <%= link_to grade.teacher.firstname, grade.teacher %>
          <% else %>
            <%= link_to "Edit", edit_grade_path(grade) %>
          <% end %>
        </p>

        <p>
          <strong>Student:</strong>
          <%= grade.student_id %>
          <%= link_to grade.student.firstname, grade.student %>
        </p>

        <p>
          <strong>Score:</strong>
          <%= grade.score %>
        </p>

        <p>
          <%= link_to "Show this grade", grade %>
        </p>
      </div>
    <% end %>
  </div>

</div>

<style>
  .grade{
    box-shadow: 1px 1px 5px black;
  }
</style>