<div class="container">
  <p style="color: green"><%= notice %></p>
  <div class="container d-flex justify-content-between align-items-center">
    <h1>Grades</h1>
    <%= link_to "New grade", new_grade_path, class: "btn btn-outline-secondary" %>
  </div>

  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">
          <%= link_to "ID", grades_path(sort: "id", direction: toggle_direction(params[:direction]))%>
          <%= arrow(params[:sort], "id", params[:direction]) %>
        </th>
        <th scope="col">Teacher</th>
        <th scope="col">Student</th>
        <th scope="col">
          <%= link_to "Score", grades_path(sort: 'score', direction: toggle_direction(params[:direction])) %>
          <%= arrow(params[:sort], "score", params[:direction]) %>
        </th>
        <th scope="col">Subject</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @grades.each_with_index do |grade, index| %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td>
            <% if grade.teacher.present? %>
              <%= link_to grade.teacher.firstname, grade.teacher %>
            <% else %>
              <%= link_to "Edit", edit_grade_path(grade) %>
            <% end %>
          </td>

          <td>
            <%= grade.student_id %>
            <%= link_to grade.student.firstname, grade.student %>
          </td>

          <td><%= grade.score %></td>

          <td>
            <%= link_to grade.subject.name, grade.subject  %>
          </td>

          <td>
            <%= link_to "Show", grade, class: "btn btn-sm btn-outline-primary mx-2" %>
            <%= link_to "Delete", grade, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-sm btn-outline-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<style>
  .grade{
    box-shadow: 1px 1px 5px black;
  }
  th, td{
    text-align: center;
  }
  
</style>