<div class="container">
  <p style="color: green"><%= notice %></p>

  <h1>Subjects</h1>

  <div id="subjects">
    <% @subjects.each do |subject| %>
        </tr>
        <p>
          <strong>id:</strong>
          <%= subject.id %>
        </p>
        <p>
          <strong>Subject:</strong>
          <%= subject.name %>
        </p>

        <p>
          <strong>Teacher:</strong>
          <%= link_to subject.teacher&.firstname, subject.teacher %>
        </p>
        <p>
          <%= link_to "Show this subject", subject %>
        </p>
    <% end %>
  </div>

  <%= link_to "New subject", new_subject_path %>
</div>
