<div class="container cover rounded mt-4 p-4">
  <p style="color: green"><%= notice %></p>
  <div class="container d-flex justify-content-between align-items-center">
    <h1>Teachers</h1>

    <%= form_with url: teachers_path, method: :get, local: true, class: "d-flex" do %>
      <%= text_field_tag :query, params[:query], placeholder: "Search by name", class: "form-control me-2" %>
      <%= submit_tag "Search", class: "btn btn-outline-secondary" %>
    <% end %>

    <p class="text-danger"><%= flash[:alert]%></p>

    <%= link_to "New teacher", new_teacher_path, class: "btn btn-outline-secondary" %>
  </div>
  <div id="teachers">
    <% @teachers.each do |teacher| %>
      <div class="container teacher d-flex flex-direction-column gap-5 rounded my-2 pt-2">
        <p>
          <strong>id:</strong>
          <%= teacher.id %>
        </p>
        <p>
          <strong>name:</strong>
          <%= teacher.fullname %>
        </p>
        <p>
          <%= link_to "Show this teacher", teacher, class: "btn btn-sm btn-outline-primary py-1" %>
        </p>
      </div>  
    <% end %>
  </div>

</div>

<style>
  .cover{
    box-shadow: 1px 1px 5px #111;
  } 
  
  .teacher{
    box-shadow: 1px 1px 5px #333;
  }
</style>